.dashboard-layout {
  display: flex;
  background-color: #f5f7f9;
  color: #4a4a4a;
}

.dashboard-layout-is-dark {
  display: flex;
  background-color: #1e1e2e;
  color: #a0a0b0;
}
.dashboard-layout-is-dark .Separator {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid white;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.pageBody {
  flex: 1;
  padding: 1rem;
  display: inline;
}
.textBody {
  display: inline-block;
  width: 100%;
}
.pageContent {
  display: inline;
}
.dashboard-layout-is-dark .pageContent {
  background-color: #a0a0b0;
  color: #4a4a4a;
}
